.backer-metrics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    &__wrapper{
      width: 100%;
      height: auto;
    }
    &__metric-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .metric{
        margin-left: 0rem;
        margin-right: auto;
        &--progress, &--paragraph{
          text-align: right;
        }
      }
      hr{
        margin-left: 0rem;
        margin-right: auto;
      }
    }
    .progress-bar{
      margin-top: 1rem;
    }
  }

  @media only screen and (max-width: 480px) {
    .backer-metrics {
      display: flex;
      flex-direction: column;
      &__wrapper{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__metric-box {
        display: flex;
        flex-direction: column;
        .metric{
          text-align: center;
        margin: 0;
        &--progress, &--paragraph{
          text-align: center;
        }
        }
        hr{
          margin-left: 0;
          margin-right: 0;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
      .progress-bar{
        margin-top: 1rem;
      }
    }
  }
  