.project-top,
.backer-metrics,
.project-details {
  @include card(none);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
}

@media only screen and (max-width: 480px) {
  .project-top,
  .backer-metrics,
  .project-details {
    padding: 4rem;
  }
}