header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  padding-top: 2rem;
  padding-left: 6%;
  padding-right: 6%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
