main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -6rem;
  padding-left: 5%;
  padding-right: 5%;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading-secondary {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.project-top,
.backer-metrics,
.project-details {
  width: 100%;
  height: auto;
  @include card(none);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.project-details__offers-box {
  .offer {
    @include card(solid);
    border-width: 0.1rem;
    border-color: $color-wheat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }
}

.project-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo-box {
    position: absolute;
    margin-top: -3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .btn--green{
    float: left;

  }

  .btn--bookmark {
    float: right;
  }
}

.backer-metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .metric:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-width: 0.1rem;
    border-color: grey;
  }
}

.out-of-stock {
  *, .metric--progress {
    color: grey;
  }
  .btn{
    background-color: grey;
    color: $color-white;
  }
}
