main {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -6rem;
  padding-left: 5%;
  padding-right: 5%;
}

.heading-primary {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading-secondary {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.project-top,
.backer-metrics,
.project-details {
  width: 100%;
  height: auto;
  @include card(none);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 4rem;
}



.backer-metrics {
  &__wrapper{
    width: 100%;
    height: auto;
  }
  &__metric-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .progress-bar{
    margin-top: 1rem;
  }
}

.project-details__offers-box {
  .offer {
    @include card(solid);
    border-width: 0.1rem;
    border-color: $color-wheat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    .heading-tertiary {
      .heading-tertiary--sub {
        float: right;
      }
    }
    .offer__amount-available {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .metric {
        display: flex;
        flex-direction: row;
        &--paragraph {
          margin-left: 0.25rem;
          margin-top: 0rem;
          padding: 0.5rem;
        }
      }
    }
  }
}

.project-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo-box {
    position: absolute;
    margin-top: -3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .btn--green {
    float: left;
  }

  .btn--bookmark {
    float: right;
  }
}

.backer-metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .metric:nth-child(2) {
    border-left: solid;
    border-right: solid;
    border-width: 0.1rem;
    border-color: grey;
  }
}

.out-of-stock {
  *,
  .metric--progress {
    color: grey;
  }
  .btn {
    background-color: grey;
    color: $color-white;
  }
}
