main{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -6rem;
  padding-left: 5%;
  padding-right: 5%;
}

.project-top, .backer-metrics, .project-details{
  @include card(none);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
}

.project-details__offers-box{
  .offer{
    @include card (solid);
    border-width: 0.1rem;
    border-color: $color-wheat;
    margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  }
}