.modal,
.confirm {
  box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.603);

  z-index: 1;
  top: 20vh;

  

  display: none;
  @include card(none);
  padding: 2rem;

  &__close {
    float: right;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.modal {
  width: 40%;
  position: absolute;
  &__options {
    .option {
      overflow: hidden;
      flex-wrap: wrap;
      @include card(solid);
      border-width: 0.1rem;
      border-color: $color-wheat;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 2rem;

      &__top {
        display: flex;
        flex-direction: row;
        .radio-box {
          display: flex;
          align-items: center;
          .radio {
            margin: 0 auto;
            transform: scale(160%);
          }
        }
        .heading-tertiary {
          margin-left: 1rem;
          margin-bottom: 0;
          &--main,
          &--sub {
            margin: 0.5rem;
          }
          &--main {
            &:hover {
              color: $color-primary-light;
              cursor: pointer;
            }
          }
        }
        .metric {
          &--desktop {
            display: flex;
            margin-left: auto;
          }
          flex-direction: row;
          &--progress {
            margin-right: 0.5rem;
          }
          &--paragraph {
            margin-top: 0.5rem;
          }
        }
      }

      &__bottom {
        .paragraph {
          margin-left: 2.25rem;
        }
        .metric {
          &--mobile {
            display: none;
          }
        }
      }

      hr {
        width: 100%;
        display: none;
      }
      &__pledge {
        display: none;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .paragraph {
          display: inline-block;
          margin-top: 1rem;
        }

        .btn {
          float: right;
        }
        .btn--amount {
          margin-right: 1rem;
        }
      }
    }
  }
}

.confirm {
  max-width: 25%;
  left: 35vw;
  position: fixed;
  &__img-box {
    text-align: center;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
  }
}

@media only screen and (max-width: 480px) {
  .modal,
  .confirm {
    max-width: 75%;
  }

  .modal {
    &__options {
      .option {
        &__top {
          .heading-tertiary{
            display: flex;
            flex-direction: column;
            &--main, &--sub{
              margin: 0;
            }
          }
          .metric {
            &--desktop {
              display: none;
            }
          }
        }
        &__bottom {
          .paragraph {
            width: 100%;
            margin-left: 0;
          }
          .metric {
            &--mobile {
              display: flex;
              
            }
           &--paragraph{
              margin-top: -.05rem;
              margin-left: .5rem;
              }
          }
        }
        &__pledge {
          .paragraph {
            width: 100%;
text-align: center;
          }
  
          .btn {
             &--green{
               float: right;
               bottom: 0;
             }
             &--amount{
               float: rleft;
             }
          }
          
        }
      }
    }
  }
}
