.modal,
.confirm {
  box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.603);

  z-index: 1;
  left: 0;
  top: 0;

  display: none;
  @include card(none);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 5%;

  &__close {
    float: right;
    cursor: pointer;
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.modal {
  position: absolute;
  &__radio {
    float: left;
  }
  &__options {
    .option {
      overflow: hidden;
      @include card(solid);
      border-width: 0.1rem;
      border-color: $color-wheat;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 2rem;

      &__radio {
        margin: 1.15rem;
        float: left;
      }
      &__top {
        margin-left: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .heading-tertiary {
          .heading-tertiary--sub {
            margin-left: 1rem;
          }
        }
        .metric {
          display: flex;
          flex-direction: row;
          margin-top: 0.5rem;
          .metric--progress {
            margin-right: 0.5rem;
          }
          .metric--paragraph {
            margin-top: 0.5rem;
          }
        }
      }
      .paragraph {
        &:nth-child(3),
        &:nth-child(1) {
          margin-left: 3.5rem;
        }
      }
      hr {
        width: 100%;
        display: none;
      }
      &__pledge {
        display: none;
        margin-top: 2rem;
        margin-bottom: 2rem;
        .paragraph {
          display: inline-block;
          margin-top: 1rem;
        }

        .btn {
          float: right;
        }
        .btn--amount {
          margin-right: 1rem;
        }
      }
    }
  }
}

.confirm {
  position: fixed;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%;
  &__img-box {
    text-align: center;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
  }
}
