.nav {
  justify-content: space-between;
  margin-right: 4%;
  &__link {
    margin-left: 1rem;
    margin-right: 1rem;
    color: $color-neutral-light;
    &:link,
    &:visited {
      color: white;
    }
  }
}
