.project-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo-box {
      position: absolute;
      margin-top: -5.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    &__text-box {
      width: 70%;
      height: auto;
      .btn--green,
      .btn--bookmark {
        margin-top: 1rem;
      }
      .btn--green {
        float: left;
      }
      .btn--bookmark {
        float: right;
      }
    }
  }