.project-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo-box {
    position: absolute;
    margin-top: -3.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  &__text-box {
    width: 70%;
    height: auto;
    .btn--green,
    .btn--bookmark {
      margin-top: 1rem;
    }
    .btn--green {
      float: left;
    }
    .btn--bookmark {
      float: right;
    }
  }
}

@media only screen and (max-width: 480px) {
  .project-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo-box {
      position: absolute;
      margin-top: -5.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    &__logo-box {
      margin-top: -3.5rem;
    }
    &__text-box {
      width: 90%;
      height: auto;
      .btn--green {
        float: left;
      }
      .btn--bookmark {
        float: right;
      }
    }
  }
}
