.heading-primary {
  .heading-primary--sub {
    font-size: 1rem;
    color: $color-neutral-light;
    line-height: 2rem;
  font-weight: $font-weight-heavy;
  }
}

.heading-secondary {
  .heading-secondary--sub {
    font-size: 1rem;
    color: $color-neutral-light;
    line-height: 2rem;
  font-weight: $font-weight-heavy;
  }
}

.heading-tertiary {
  .heading-tertiary--main {
    font-size: 1.25rem;
  }
  .heading-tertiary--sub {
    font-size: 1rem;
    color: $color-primary-light;
    line-height: 2rem;
  font-weight: $font-weight-heavy;
  }
}

.paragraph {
  color: $color-neutral-light;
  line-height: 2rem;
  font-weight: $font-weight-heavy;
}

.metric {
  .metric--progress {
    color: $color-neutral-dark;
    font-size: 2rem;
    font-weight: $font-weight-heavy;
  }
  .metric--goal {
    color: $color-neutral-light;
  }
}

a {
    text-decoration: none;
}