@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
html {
  /* This defines what 1 rem is */
  font-size: 16px; }

body {
  margin: 0rem;
  background-color: #f4f4f4;
  font-family: "Overpass", sans-serif; }

.heading-primary .heading-primary--sub {
  font-size: 1rem;
  color: #7a7a7a; }

.heading-secondary .heading-secondary--sub {
  font-size: 1rem;
  color: #7a7a7a; }

.heading-tertiary .heading-tertiary--main {
  font-size: 1.25rem; }

.heading-tertiary .heading-tertiary--sub {
  font-size: 1rem;
  color: #3cb4ac; }

.paragraph {
  color: #7a7a7a; }

.metric .metric--progress {
  color: black;
  font-size: 2rem;
  font-weight: 700; }

.metric .metric--goal {
  color: #7a7a7a; }

a {
  text-decoration: none; }

.btn {
  border-radius: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.2); }
  .btn--green {
    background-color: #3cb4ac;
    color: #fff; }
    .btn--green:hover {
      background-color: #147b74; }
  .btn--bookmark {
    background-color: #f4f4f4;
    color: #7a7a7a;
    font-weight: 700;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    padding-right: 1.5rem; }
    .btn--bookmark__icon {
      position: absolute;
      margin-left: -3rem;
      margin-top: -1.2rem; }
    .btn--bookmark__text {
      padding-left: 1rem;
      padding-right: 0.5rem; }
    .btn--bookmark:active {
      color: #147b74;
      border: solid;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem; }
  .btn--amount {
    border: solid;
    border-width: 0.05rem;
    border-color: #3cb4ac;
    color: grey;
    font-weight: 700; }
    .btn--amount .input {
      display: inline;
      outline: none;
      border: none;
      caret-color: #3cb4ac;
      font-size: 1rem;
      font-weight: 700;
      background: transparent; }

@media only screen and (max-width: 480px) {
  .btn--bookmark {
    padding: 0;
    margin: 0;
    border: none;
    background-color: white; }
    .btn--bookmark__text {
      display: none; }
    .btn--bookmark__icon {
      position: relative;
      margin-left: 0;
      margin-top: 0; }
      .btn--bookmark__icon:active {
        border: solid;
        border-radius: 50%; }
    .btn--bookmark:hover {
      transform: none;
      box-shadow: none; }
    .btn--bookmark:active {
      border: none; } }

.progress-bar {
  height: 1.5rem;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 1rem; }
  .progress-bar__progress {
    width: 50%;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #3cb4ac; }

.header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header__logo-box {
    margin-left: 4%; }

.heading-primary {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .heading-primary--sub {
    margin-top: 1rem; }

.heading-secondary {
  display: flex;
  flex-direction: column;
  text-align: left; }

.nav {
  justify-content: space-between;
  margin-right: 4%; }
  .nav__link {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #7a7a7a; }
    .nav__link:link, .nav__link:visited {
      color: white; }

main {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -6rem; }

@media only screen and (max-width: 480px) {
  main {
    max-width: 80%; } }

.project-details__offers-box .offer {
  background-color: #fff;
  border-radius: .5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #f4f4f4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem; }
  .project-details__offers-box .offer .heading-tertiary .heading-tertiary--sub {
    float: right; }
  .project-details__offers-box .offer .offer__amount-available {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .project-details__offers-box .offer .offer__amount-available .metric {
      display: flex;
      flex-direction: row; }
      .project-details__offers-box .offer .offer__amount-available .metric--paragraph {
        margin-left: 0.25rem;
        margin-top: 0rem;
        padding: 0.5rem; }

.out-of-stock *,
.out-of-stock .metric--progress {
  color: grey; }

.out-of-stock .heading-tertiary--sub {
  color: #b4d7d1; }

.out-of-stock .btn {
  background-color: grey;
  color: #fff; }

.out-of-stock .option__radio input {
  pointer-events: none;
  opacity: 0.5; }

.backer-metrics {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .backer-metrics__wrapper {
    width: 100%;
    height: auto; }
  .backer-metrics__metric-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .backer-metrics__metric-box .metric {
      margin-left: 0rem;
      margin-right: auto; }
      .backer-metrics__metric-box .metric--progress, .backer-metrics__metric-box .metric--paragraph {
        text-align: right; }
    .backer-metrics__metric-box hr {
      margin-left: 0rem;
      margin-right: auto; }
  .backer-metrics .progress-bar {
    margin-top: 1rem; }

@media only screen and (max-width: 480px) {
  .backer-metrics {
    display: flex;
    flex-direction: column; }
    .backer-metrics__wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .backer-metrics__metric-box {
      display: flex;
      flex-direction: column; }
      .backer-metrics__metric-box .metric {
        text-align: center;
        margin: 0; }
        .backer-metrics__metric-box .metric--progress, .backer-metrics__metric-box .metric--paragraph {
          text-align: center; }
      .backer-metrics__metric-box hr {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 1rem; }
    .backer-metrics .progress-bar {
      margin-top: 1rem; } }

.project-top {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .project-top__logo-box {
    position: absolute;
    margin-top: -5.5rem;
    margin-left: auto;
    margin-right: auto; }
  .project-top__text-box {
    width: 70%;
    height: auto; }
    .project-top__text-box .btn--green,
    .project-top__text-box .btn--bookmark {
      margin-top: 1rem; }
    .project-top__text-box .btn--green {
      float: left; }
    .project-top__text-box .btn--bookmark {
      float: right; }

@media only screen and (max-width: 480px) {
  .project-top {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .project-top__logo-box {
      position: absolute;
      margin-top: -5.5rem;
      margin-left: auto;
      margin-right: auto; }
    .project-top__text-box {
      width: 125%;
      height: auto; }
      .project-top__text-box .btn--green {
        float: left; }
      .project-top__text-box .btn--bookmark {
        float: right; } }

.project-top,
.backer-metrics,
.project-details {
  background-color: #fff;
  border-radius: .5rem;
  border-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem; }

@media only screen and (max-width: 480px) {
  .project-top,
  .backer-metrics,
  .project-details {
    padding: 4rem; } }

.modal,
.confirm {
  box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.603);
  z-index: 1;
  left: 0;
  top: 0;
  display: none;
  background-color: #fff;
  border-radius: .5rem;
  border-style: none;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding: 5%; }
  .modal__close,
  .confirm__close {
    float: right;
    cursor: pointer; }
    .modal__close:hover,
    .confirm__close:hover {
      color: black; }
  .modal__text-box,
  .confirm__text-box {
    display: flex;
    flex-direction: column;
    text-align: center; }

.modal {
  position: absolute; }
  .modal__radio {
    float: left; }
  .modal__options .option {
    overflow: hidden;
    background-color: #fff;
    border-radius: .5rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #f4f4f4;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem; }
    .modal__options .option__radio {
      margin: 1.15rem;
      float: left; }
    .modal__options .option__top {
      margin-left: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .modal__options .option__top .heading-tertiary--main:hover {
        color: #3cb4ac;
        cursor: pointer; }
      .modal__options .option__top .heading-tertiary .heading-tertiary--sub {
        margin-left: 1rem; }
      .modal__options .option__top .metric {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem; }
        .modal__options .option__top .metric .metric--progress {
          margin-right: 0.5rem; }
        .modal__options .option__top .metric .metric--paragraph {
          margin-top: 0.5rem; }
    .modal__options .option .paragraph:nth-child(3), .modal__options .option .paragraph:nth-child(1) {
      margin-left: 3.5rem; }
    .modal__options .option hr {
      width: 100%;
      display: none; }
    .modal__options .option__pledge {
      display: none;
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .modal__options .option__pledge .paragraph {
        display: inline-block;
        margin-top: 1rem; }
      .modal__options .option__pledge .btn {
        float: right; }
      .modal__options .option__pledge .btn--amount {
        margin-right: 1rem; }

.confirm {
  position: fixed;
  width: 30%;
  margin-left: 30%;
  margin-right: 30%; }
  .confirm__img-box {
    text-align: center; }
  .confirm .btn {
    margin-left: auto;
    margin-right: auto;
    width: 4rem; }
