.btn {
  border-radius: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 0.5rem rgba($color-black, 0.2);
  }

  &--green {
    background-color: $color-primary-light;
    color: $color-white;
    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--bookmark {
    background-color: $color-wheat;
    color: $color-neutral-light;
    font-weight: $font-weight-heavy;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    padding-right: 1.5rem;

    &__icon {
      position: absolute;
      margin-left: -3rem;
      margin-top: -1.2rem;
    }
    &__text {
      padding-left: 1rem;
      padding-right: 0.5rem;
    }
  }

  &--amount {
    border: solid;
    border-width: 0.05rem;
    border-color: $color-primary-light;
    color: grey;
    font-weight: $font-weight-heavy;
    .input {
      display: inline;
      outline: none;
      border: none;
      caret-color: $color-primary-light;
      font-size: 1rem;
      font-weight: $font-weight-heavy;
      background: transparent;
    }
  }
}
